<div class="user-greating">
    <p class="greeting-name">Bonjour, {{ userName }}!</p>
    <p>Comment puis-je vous aider aujourd'hui?</p>
  </div>
  <div class="subject-container">
    <div class="subject-item">
      <p>Vos Réservations</p>
      <div class="icon-circle">
        <mat-icon class="bottom-right-icon">flight</mat-icon>
      </div>
    </div>
    <div class="subject-item">
      <p>Nos Meilleures Destinations</p>
      <div class="icon-circle">
        <mat-icon class="bottom-right-icon">place</mat-icon>
      </div>
    </div>
    <div class="subject-item">
      <p>Réclamations</p>
      <div class="icon-circle">
        <mat-icon class="bottom-right-icon">feedback</mat-icon>
      </div>
    </div>
    <div class="subject-item">
      <p>Informations Générales</p>
      <div class="icon-circle">
        <mat-icon class="bottom-right-icon">info</mat-icon>
      </div>
    </div>
  </div>