<ng-container>
  <mat-icon
    class="menu-icon"
    aria-hidden="false"
    aria-label="Menu icon"
    fontIcon="menu"
  ></mat-icon>
  <mat-nav-list>
    <div class="recent-conversations">
      <div class="conversation conversations-title">Conversations récentes</div>
      <div class="conversation conversation-btn">
        <mat-icon
          class="conversation-icon"
          aria-hidden="false"
          aria-label="chat icon"
          fontIcon="chat"
        ></mat-icon>
        <a routerLink="/profile">Conversation</a>
      </div>
      <div class="conversation conversations-title">Gestion</div>

      <div
        class="conversation conversation-btn"
        (click)="goToSubjects()"
        role="button"
      >
        <mat-icon
          class="conversation-icon"
          aria-hidden="false"
          aria-label="help icon"
          fontIcon="subject"
        ></mat-icon>
        <a routerLink="/profile">Sujets</a>
      </div>
      <div class="conversation conversation-btn">
        <mat-icon
          class="conversation-icon"
          aria-hidden="false"
          aria-label="help icon"
          fontIcon="help"
        ></mat-icon>
        <a routerLink="/profile">Aide</a>
      </div>
      <div class="conversation conversation-btn">
        <mat-icon
          class="conversation-icon"
          aria-hidden="false"
          aria-label="settings icon"
          fontIcon="settings"
        ></mat-icon>
        <a routerLink="/profile">Paramètres</a>
      </div>
    </div>
  </mat-nav-list>
</ng-container>
