.dashboard-container {
  height: 100vh;
}

.sidebar {
  width: 300px;
  /* background-color: #3f51b5; */
  background-color: #f0f4f9;
  /* color: white; */
}



.toolbar-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  justify-content: flex-end;
}

.assistant-result {
  max-height: 700px;
  overflow-y: auto;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #f0f4f9; 

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #999; 

  }